# Python == 3.8.10
fpdf2==2.8.2
matplotlib==3.7.5
pandas==1.5.3
plotly==5.24.1
pyOpenSSL==25.0.0
pytest==8.3.4
PyYAML==6.0.2
setuptools==70.0.0
SQLAlchemy==2.0.37
streamlit==1.40.1
streamlit-aggrid==1.0.5
cryptography==42.0.5
requests==2.31.0
certifi==2024.2.2
